
/*faixa de cor com a frase */
header {
    background-color: #c0705b;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}



nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/*pesquisa do lado esquerdo da pagina*/

.pesquisa {
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.pesquisa img {
    margin: 3%;
    width: 5%;
}

.input {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid black;
    border-radius: inherit;
}

.input:focus {
    outline: none;
}


/*logo*/

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 40%;
    height: 60%;
}



/*Usuario*/

.usuario {
    display: flex;
    align-items: center;
    justify-content: right;
}

.usuario a{
    width: 70%;
}
.icones{
    width: 70%;
}

.icone{
    width: 10%;
    margin: 5%;
}

section {
    background-color: rgb(254, 254, 254);
    padding: 25px;
    display: flex;
    justify-content: center;

}


.menu {
    display: flex;
}

.menu li a {
    margin: 30px;

    color: rgb(0, 0, 0);
}

li {
    list-style-type: none;

}







